@import "./components/NavBar/NavBar";
@import "./components/ItemListContainer/ItemListContainer";
@import "./components/CartWidget/CartWidget";
@import "./components/Footer/Footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
}